#app, .empty-wrap {
    height: 100%;
}

html, body {
    color: #333;
    margin: 0;
    height: 100%;
    font-family: "Myriad Set Pro", "Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: normal;
}

body {
    background: #f2f2f2;
    color: #666;
    width: 100%;
    max-width: 512px;
    margin: 0 auto;
    font-size: 12px;
    line-height: 24px;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #08acee;
}

img {
    border: 0;
}

li {
    list-style: none;
}

a {
    color: #666;
}

.clearfix::after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}